<div class="container mt-5">
  <h2>Bem-vindo{{#if usuario}}, {{usuario.nome}}{{/if}}!</h2>
  {{#if usuario}}
    <div class="alert alert-success">
      Login realizado com sucesso!
    </div>
    {{#if (eq usuario.tipo 'musico')}}
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">Painel do Músico</h4>
          <p>Você pode criar, editar e visualizar suas atividades musicais.</p>
          <ul>
            <li><a href="/novaAtividade">Nova Atividade</a></li>
            <li><a href="/minhasSubmissoes">Minhas Submissões</a></li>
          </ul>
        </div>
      </div>
    {{else if (eq usuario.tipo 'educador')}}
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">Painel do Educador</h4>
          <p>Você pode explorar e favoritar atividades para suas aulas.</p>
          <ul>
            <li><a href="/homeE">Atividades Sugeridas</a></li>
            <li><a href="#">Favoritos</a></li>
          </ul>
        </div>
      </div>
    {{else}}
      <div class="alert alert-warning mt-4">
        Tipo de usuário desconhecido.
      </div>
    {{/if}}
  {{else}}
    <div class="alert alert-danger">
      Nenhum usuário logado.
    </div>
    <a href="/login" class="btn btn-primary">Fazer Login</a>
  {{/if}}
</div>
