<h1 class="mb-4" style="color: var(--primary); font-weight:700;">Atividades:</h1>
<div class="atividades-container">
  {{#each atividades}}
    {{> atividadeReduzida contexto="tipoAtividade" atividade=this}}
  {{/each}}
</div>

