
    <h1>Atividades: {{tipo.nome}}</h1>

    <div class="atividades-container">
      {{#each atividades}}
        <div class="atividade-card">
          <h3>{{this.nome}}</h3>
          <p>{{this.descricao}}</p>

        </div>
      {{/each}}
    </div>


